body {
  margin: 0;
  background: #f7f7f7;
  font-family: Arial, Arial, Helvetica, sans-serif;
}

.logo {
  text-align: center;
  padding: 55px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
  justify-content: center;
}

.menu a {
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 2px solid transparent;
  display: block;
}

.menu a:hover {
  border-color:#ee2211;
  /* padding: 0.875rem 1.875rem; */
}

.conteudo1 {
  height: 340px;
  margin: 60px auto 0 auto;
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  background: #fff;
}

.conteudo1_info {
  text-align: right;
  width: 400px;
}

.conteudo1_info::before {
  content: "";
  z-index: 3;
  border-radius: 10px;
  background: #ee2211;
  height: 5px;
  width: 50px;
  left: 430px;
  top: -50px;
  display: block;
  position: relative;
}

.conteudo1_info p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.conteudo1_info h1 {
  margin: 0;
  font-size: 2rem;
}

.botao {
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background: #ee2211;
  padding: 0.94rem 1.56rem;
  border-radius: 5px;
}

.botao:hover {
  background: #900;
}

.conteudo1_foto {
  position: relative;
  height: 340px;
  /* top: -5px; */
}
/* 
.separador {
  z-index: 1;
  border-radius: 10px;
  background: #ee2211;
  width: 70px;
  left: -35px;
  top: 40px;
  height: 5px;
  position: relative;
} */

.vantagens {
  color: #c6c6c6;
  font-size: 4rem;
  text-align: right;
  text-transform: uppercase;
  padding: 40px;
  background-image: url("../img/onda.svg");
}

.conteudo2 {
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  /* gap: 60px; */
  margin: 0 auto;
}

.icones {
  background: #fff;
  padding: 20px 80px 20px 70px;
}

.info_icone {
  display: grid;
  grid-template-columns: 40px 300px;
  padding: 20px 0 20px 20px;
}

.info_icone:nth-child(odd) {
  background-color: #f7f7f7;
}

.info_icone:hover {
  border-left: 4px solid #ee2211;
  padding-left: 11px;
  grid-template-columns: 40px 305px;
}

.titulo_vantagem {
  grid-column: 2;
  margin: 0;
  font-size: 1.2rem;
}

.descricao_vantagem {
  margin: 10px 0;
  font-size: 1.2rem;
  grid-column: 2;
}

footer {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 60px;
  background: #fff;
  padding: 25px;
}
